<nav class="nav collapsible">
  <a class="nav__brand" href="/"
    ><img src="images/logo.svg" alt="logotype"
  /></a>
  <svg class="icon icon--white nav__toggler">
    <use xlink:href="images/sprite.svg#menu"></use>
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#0">Hosting</a></li>
    <li class="nav__item"><a href="#0">VPS</a></li>
    <li class="nav__item"><a href="#0">Domain</a></li>
    <li class="nav__item"><a href="#0">Pricing</a></li>
  </ul>
</nav>
